@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f9f9f9;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.logo {
    font-size: 20px;
    color: #359381;
    pointer-events: none;
    margin-right: 270px;
}


.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover,
 .navigation a.active {
    background: #359381;
    color: #fff;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 110vh; 
}

#text {
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.buttons {
    position: relative;
    background: #003329;
    padding: 100px;
}

.backgroundimg {
    display: flex;
    position: absolute;
    justify-content: center;
}


/* Wrapper Div ---------------------------------------------------------------- */

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 400px;
    height: 500px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height .2s ease;
}

.wrapper.active {
    height: 520px;
}


.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}   

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}


.wrapper .form-box.register {
    position: absolute;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}  

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label, 
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%; 
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;

}

.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a {
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}


/* for login as USER  */

.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
} 

/* for login as NGO  */

.login-ngo {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 0px 0 10px;
}

.login-ngo p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-ngo p a:hover {
    text-decoration: underline;
} 


/* for login as POLICE  */

.login-police {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 0px 0 10px;
}

.login-police p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-police p a:hover {
    text-decoration: underline;
} 

/* DONE */





.messageDiv {
    background-color: #162938;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1rem;
    opacity: 0;
    animation: fadeOut 7s forwards;
}






/* Header Section Styling :  */
.container-fluid {
    padding: 30px 0;
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.3s;
    z-index: 997;
}

.container-fluid.container-fluid-scrolled {
    background: rgba(0, 0, 0, 0.9);
    padding: 20px 0;
    height: 72px;
    transition: all 0.3s;
}

.container-fluid .logo {
    float: left;
}

.container-fluid .logo h1 {
    font-size: 34px;
    margin: 0;
    line-height: 1;
    letter-spacing: 5px;
}

.container-fluid .logo h1 a:hover {
    color: #ffffff;
}


.container-fluid .logo img {
    padding: 0;
    margin: 0;
    max-height: 100%;
}



.hamburger {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}




/* Emergency Button Styling : */

.emergency-btn {
    background: #d91d2a; 
    border: none;
    padding: 1px 1px;
    color: #fff; 
    margin-top: -8px;
    font-size: 0.9rem; 
    font-weight: bold;
    border-radius: 8px; 
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    text-align: center; 
}

.emergency-btn a {
    color: #fff; 
    text-decoration: none;
    display: inline-block;
}





